/* signup.css */

/* Updated styles for the signup container */
.signup-container {
  max-width: 400px;
  margin: 50px auto; /* Center the form vertically and horizontally */
  padding: 20px;
  border-radius: 10px;
  background-image: url('../../public/signupbg.jpg'); /* Add the path to your yoga-related background image */
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.signup-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff; /* Adjust text color to be visible on the background */
}

.signup-form input {
  width: calc(100% - 45px); /* Adjust input width */
  margin: 5px 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.signup-form button {
  width: calc(100% - 20px); /* Adjust button width */
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #d83058;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('../../public/signupbodybg.jpg'); /* Adjust the path to your background image */
  background-size: cover;
  background-position: center;
  font-family: 'Arial', sans-serif; /* Adjust the font family as needed */
  color: #333; /* Set default text color */
}